@import './variables/variables';

.left-side {
  width: 30%;
  background-color: $dark-blue;
  color: white;
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  h2 {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.8;
    margin: 0;
  }
}
